@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Reset code to have all browsers look the same by default*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Navbar*/
ul {
  list-style-type: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #1F2937;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; /*Makes it so that the container takes up 100% of the navbar*/
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #aeafb1;
}

/*Header*/
.header {
  background: #1F2937;
  height: 480px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 5px;
}

.header p {
  font-size: 18px;
  color: #aeafb1;
  margin-bottom: 10px;
}

.header .headcontent {
  width: 30%;
}

.header .signbutton {
  background: #3882f6;
  color: #F9FAF8;
  border-radius: 6px;
  border-style: none;
  text-decoration: none;
  padding: 8px 20px;
}

.header img {
  max-width: 70%;
}

/*Section 1*/

.boxes {
  height: 480px;
}

.boxes .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.boxes h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
  margin-top: 50px;
}

.box {
  width: 300px;
}

.boxes .box {
  max-width: 25%;
}

.boxes .box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-style: solid;
  border-color: #000000;
  border-width: medium;
  border-radius: 30px;
  margin: auto;
}

.boxes .box p {
  font-size: 18px;
  color: #a5a7aa;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.quote {
  height: 440px;
  background: #e5e7eb;
}

.quote .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 50%;
}

.quote .container h2 {
  padding-top: 80px;
  flex-wrap: wrap;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  color: #1F2937;
}

.quote .container h4 {
  color: #1f2937;
  width: 100%;
  font-size: 18px;
  font-weight: bolder;
  text-align: right;
  padding-bottom: 40px;
  
}

/*Signup Section*/

.signup {
  display: flex;
  align-items: center;
  height: 400px;
}

.signup .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 30%;
  background: #3882f6;
  border-radius: 10px;
}

.signup .container h4 {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.signup .container p {
  font-size: 18px;
  font-weight: 300;
  color: #F9FAF8;
}

.signup .container .box {
  max-width: 100%;
}

.signup .container .box .signbutton2 {
  background: #3882f6;
  margin-left: 140px;
  color: #F9FAF8;
  border-radius: 6px;
  border-color: #F9FAF8;
  text-decoration: none;
  padding: 8px 20px;
}

.signup .container .box .signbutton2:hover {
  background: #5b97f8;
  color: #F9FAF8;
}